<% @comedians.each do |comedian| %>
<ul id="comic-<%= comedian.id %>">
  <li><%= comedian.name %></li>
  <li>age - <%= comedian.age %></li>
  <li>city - <%= comedian.city %></li>
  <ul>
    <a>Specials</a>
    <% comedian.specials.each do |special| %>
      <li> <%= special.name %> </li>
      <img src=<%=special.img %> />
      <li><%= special.runtime %> mins</li>
      <% end %>
  </ul>
</ul>
<%end%>
