<% @comedians.each do |comedian| %>
<ul id="comic-<%= comedian.id %>">
  <li><%= comedian.name %></li>
  <li>age - <%= comedian.age %></li>
  <li>city - <%= comedian.city %></li>
  <a>Specials</a>
  <% comedian.specials.each do |special| %>
        <li> <%= special.name %>  </li>
        <% end %>
</ul>
<%end%>
