<!DOCTYPE html>
<html>
  <head>
    <title>AllYourDaveAreBelongToUs</title>
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>

<body>
  <header class=statistics>
    <h1>S  t  a  t  s</h1>
      <statnums>
          <p1><%= "Average Age #{@average_age.to_f.round(2)}" %></p1>
          <p1><%= "Average Runtime #{@average_runtime.to_f.round(2)}" %></p1>
          <p1><%= "Total Specials: #{@specials.count}"%></p1>
      </statnums>

      <statcity>
        <ul>
          <h3>Cities</h3>
            <% @comedians.each do |comedian| %>
              <li><%=comedian.city%></li>
            <% end %>
        </ul>
      </statcity>
  </header>

  <section>
    <% @comedians.each do |comedian| %>
    <ul class="comic" id="comic-<%= comedian.id %>">
        <li><a id="name"><%= comedian.name %></a></li>
         <li>Age: - <%= comedian.age %></li>
         <li>City: - <%= comedian.city %></li>
           <li><h3>Specials</h3><li>
           <% comedian.specials.each do |special| %>
           <li> <%= special.name %> </li>
           <li><img class="img-circle" src=<%=special.img%> /><li>
           <li><%= "Total Runtime: #{special.runtime}" %> mins</li>
           <% end %>
           <li><%= "Total Specials: #{comedian.specials.count}"%></li>
      </ul>
    <% end %>
  </section>

</body>

</html>
